---
layout: default
---

<section class="post">
  <div class="flex-row-between">
      <a href="{{ site.url }}{{ site.baseurl }}/">« Home</a>
    <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
      <div></div>
    </button>
  </div>
</section>

<section class="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
</section>

<button id="bigger">Bigger</button>
<button id="smaller">Smaller</button>
<button id="moreBigger">More Bigger</button>

<script>
var size = 18; // or any default number yo want
$(document).ready(function() {
  $("#bigger").click(function() {
    $("p").css("font-size", size + 1 + "px");
    size++;
  });
  $("#smaller").click(function() {
    $("p").css("font-size", size - 1 + "px");
    size--;
  });
  $("#moreBigger").click(function() {
    $("p").css("font-size", size + 2 + "px");
    size+=2;
  });
});
</script>
