---
layout: default
---

<section class="post">
  <div class="flex-row-between">
      <a href="{{ site.url }}{{ site.baseurl }}/">« Home</a>
    <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
      <div></div>
    </button>
  </div>
</section>

<script scr="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(e) {
	var section = 'span,.change';
	var originalSize = $(section).css('font-size');
	$('.increase').click(function(){
		var increaseSize = parseInt$(section).css('font-size');
		$(section).css('font-size',increaseSize*1.2);
	});
	var section = 'span,.change';
	var originalSize = $(section).css('font-size');
	$('.increase').click(function(){
		var increaseSize = parseInt$(section).css('font-size');
		$(section).css('font-size',increaseSize*0.8);
	});
});
</script>

<div>Yep:
	<a href="#" class="increase" title="Plus">+</a>
	<a href="#" class="increase" title="Minus">+</a>
</div>

<section class="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
</section>
