---
layout: default
---

<section class="post">
  <div class="flex-row-between">
      <a href="{{ site.url }}{{ site.baseurl }}/">« Home</a>
    <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
      <div></div>
    </button>
  </div>
</section>

<script src='/assets/css/font-button.css'></script>
<div id="main_area1">
  <button id="button1" value="larger" type="button" onclick="changeFontSize(this)">Larger</button>
</div>
<div id="main_area2">
  <button id="button2" vale="smaller" type="button" onclick="changeFontSize(this)">Smaller</button>
</div>

<section class="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
</section>
